# -----------------------------------------------------------------------------
# Configuration JDBC
#   (Tokio, etc.)
# -----------------------------------------------------------------------------

jdbc.user = ${databaseUser}
jdbc.pwd = ${databasePassword}
jdbc.catalog = ${databaseCatalog}
jdbc.base = ${databaseSid}
jdbc.server = ${databaseServer}:${databasePort}

# -----------------------------------------------------------------------------
#    Configuration test GUI
# -----------------------------------------------------------------------------
gui.default.class = ${clientMainClass}
gui.default.arg.user = ${defaultTestUser}
gui.default.arg.password = ${defaultTestUserPassword}
gui.default.arg.server.host = ${serverHost}
gui.default.arg.server.port = ${serverPort}

## -----------------------------------------------------------------------------
#    Configuration framework test-release en mode agent
# -----------------------------------------------------------------------------

testEnvironment.class = net.codjo.test.release.agent.AgentTestEnvironment
testEnvironment.user = ${defaultTestUser}
testEnvironment.pwd = ${defaultTestUserPassword}
testEnvironment.host = ${serverHost}
testEnvironment.port = ${serverPort}

# -----------------------------------------------------------------------------
#    Configuration batch
# -----------------------------------------------------------------------------

# Mode local

batch.start.class    = ${batchMainClass}
batch.configuration  = ${project.basedir}/target/config/batch-local.config

broadcast.output.dir        = ${project.basedir}/target/release-test/tmp


        